.tombol1
{
    display: block;
    text-decoration: none;
    padding: 10px;
    width: 70px;
    height: 20px;
    color: black;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
    font-family: georgia;
}
 
.tombol1:hover
{
    background-color: white;
    transition-duration: 2s;
    align : center;
}
 
.tombol-pesan1
{
    background-color: #AFEEEE;
}



